.git
.github
.idea
.vscode
.zed
.fleet
node_modules
vendor
public/build
public/storage
storage/*.key
.env
.env.*
.phpunit.result.cache
tests
docker-compose*
README.md
Dockerfile
.dockerignore
render.yaml
